<template>
    <div>
        <div></div>
        <div>
            <div>
                <div lwc:ref="foo" onclick={onClickBaz} data-name={foo} style={fooStyle}></div>
            </div>
        </div>
        <div lwc:ref="bar" onclick={onClickQuux} data-name={bar} style={barStyle}></div>
    </div>
</template>
