<template>
    <div>
        <div></div>
        <div>
            <div>
                <div lwc:ref="foo"></div>
                <div onclick={onClickBaz}></div>
                <div data-name={foo}></div>
                <div style={fooStyle}></div>
            </div>
        </div>
        <div lwc:ref="bar"></div>
        <div onclick={onClickQuux}></div>
        <div data-name={bar}></div>
        <div style={barStyle}></div>
    </div>
</template>
