<template>
    <div>
        <template for:each={items} for:item="item">
            <div key={item.key}>
                <span data-dynamic={foo}></span>
                <span data-static="bar"></span>
                <span style={baaz}></span>
                <span style="quux"></span>
                <span data-dynamic={foo} style={baaz} class={bar}></span>
            </div>
        </template>
    </div>
</template>