<template>
    <div>
        <!-- comment -->
        <button data-id="foo" onclick={onClickFoo} lwc:ref="foo" data-dynamic={foo} style={fooStyle}>foo</button>
        <!-- comment -->
        <button data-id="bar" onclick={onClickBar} lwc:ref="bar" data-dynamic={bar} style={barStyle}>bar</button>
    </div>
</template>