<template>
    <template lwc:if={showIf}>
        <span data-dynamic={insideIf}></span>
        <span data-static="staticInsideIf"></span>
    </template>
    <template lwc:elseif={showElseIf}>
        <span data-dynamic={insideElseIf}></span>
        <span data-static="staticInsideElseIf"></span>
    </template>
    <template lwc:else>
        <span data-dynamic={insideElse}></span>
        <span data-static="staticInsideElse"></span>
    </template>
</template>